mat-form-field {
    margin-left: 10px;
    margin-right: 10px; 
}

input[type=file] {
    visibility: hidden;
}

.project_image_container {
    display: inline-block;
}

.image_preview .image {
    width: 200px;
    position: relative;
    display: inline-block;
    margin: 0 10px;
}

.image_preview .image img {
    width: 100%;
    border: 2px solid black;
    border-radius: 4px;
}

.image_preview .image .remove-image {
    position: absolute;
    right: 0;
    top: 5px;
    width: 20px;
    height: 20px;
    line-height: 21px;
    cursor: pointer;
    border-radius: 50%;
    background-color: white;
    text-align: center;
}

button {
    margin-right: 8px;
}
.mt-2 {
    margin-top: 20px;
}