<h1>Project Details</h1>
<p>Organization: {{firstForm.organization}}</p>
<p>Category: {{firstForm.category}}</p>
<p>Activity: {{firstForm.activity}}</p>
<p>Title: {{firstForm.title}}</p>
<p>Min Age: {{firstForm.min_age}}</p>
<p>Max Age: {{firstForm.max_age}}</p>

<h1>Project Costs</h1>
<p>Project Name: {{thirdForm.project_name}}</p>
<p>Week: {{thirdForm.week}} Cost: {{thirdForm.cost}}</p>

<h1>Project Include Checks</h1>
<p>Project Name: {{fourthForm.project_name}}</p>
<p>Week: {{fourthForm.inlcude_description}} Cost: {{fourthForm.inlcude}}</p>

<h1>Project Dates</h1>
<p>Project Name: {{fifthForm.project_name}}</p>
<p>Dates: {{fifthForm.dates}}</p>